page-create-profile {
    .create-profile-container {
        font-size: 10px;
        width: 80%;
        padding-top: 30px;
        margin: auto;
        text-align: center;
    }
    .create-profile-btn {
        padding-top: 15px;
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .content-md {
        color: #636262;
    }
    .item-md {
        padding-left: 0px;
    }
    .bar-button,
    ion-title {
        color: #333399 !important;
    }
}
