page-dashboard {
    .scroll {
        height: 100%
    }
    #map {
        height: 55%;
        width: 100%
    }
    .item-md [item-end] {
        margin: 9px 0px 0px 0;
        text-align: right;
    }
    .assest-meta {
        font-size: 14px;
        min-height: 15%;
    }
    .list {
        height: 45%;
        margin-bottom: 0px;
    }
}
