page-dashboard {
    .scroll {
        height: 100%
    }
    #map {
        height: 60%;
        width: 100%
    }
    .item-md [item-end] {
        margin: 9px 0px 9px 0;
        text-align: right;
    }
}