    page-profile {
        .user-icon {
            font-size: 90px;
        }
        ion-icon {
            color: #333399;
        }
        ion-input {
            display: inline-block;
            width: 80%;
        }
        .icon-fonts {
            font-size: 18px;
            padding: 10px;
        }
        .profile-container {
            text-align: center;
        }
        .user-contact {
            padding-top: 20px;
            margin: auto;
            left: 0;
            right: 0;
            max-width: 400px;
        }
        .btn-edit {
            text-align: center;
        }
    }
