// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.app-root {
    max-width: 760px;
    margin: auto;
    left:0;
    right: 0;
}
.footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 500
}

.toolbar-background {
    background: #6767ab;
}

.bar-button,
ion-title {
    color: white !important;
}
.toolbar-title  {
    color: white !important;
}
.bold-text {
    font-weight: bold;
}
.form-heading {
    text-align: center;
    color: #333399;
  }
.smaller-text {
    font-size: smaller
}
.side-menu-header {
    padding-top: 30px;
}
.side-menu-header > .toolbar-title {
    font-size: 12px;
    padding-left: 0px;
}
.no-margin-top {
    margin-top : 0px !important;
}
.no-margin-y {
    margin-top : 0px !important;
    margin-bottom : 0px !important;
}
.no-margin-bottom {
    margin-bottom : 0px !important;
}
.no-padding-bottom {
    padding-bottom: 0px !important;
}
.logo-img {
    border-radius:50%;
    max-width: 50px;
}

.text-center {
    text-align: center
}
.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom: 0 !important;
}

.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child,
.item-input-has-focus textarea {
    border-bottom: 0 !important;
}
